body {
    background-color: #353535ff;
}

h1 {
    color: #ffffff;
}

input {
    font-size: 24px;
}

table {
    color: #353535ff;
    background-color: #ffffff;
    font-size: 24px;
    width: 50%;
}

#botao-cadastrar {
    font-size: 24px;
}

#lista tr {
    cursor: crosshair;
}

#lista tr:nth-child(2n+1) {
    background: #f0f0f0;
}

.campos-botao {
    margin: 40px;
}